<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../../static/css/create-profile.css">
</head>

<body>
    <div class="container-login">
        <div class="row row-height">
            <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
                <div class="logo-middle h-100"><img src="../../static/img/brand.png" alt=""></div>
            </div>
            <div class="col-lg-6 col-md-6 form-container">
                <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                    <div class="heading">
                        <h1>Create Profile</h1>
                    </div>
                    <div class="paragraph">
                        <p>Enter your personal information below</p>
                    </div>
                    <div class="profile-pic">
                        <div class="circle">
                            <img src="../../static/img/profile.png" alt="">
                        </div>
                        <div class="small-circle">
                            <!-- <i class="fas fa-camera"></i> -->
                            <img src="../../static/img/cam.svg" alt="">
                        </div>
                    </div>

                    <form>
                        <label for="text" class="label-input">Full Name</label>
                        <div class="form-input">
                            <span class="icon-input"><img src="../../static/img/contact-blue.svg" alt=""></span>
                            <input type="text" id="text" placeholder="Enter your name" >
                        </div>
                        <label for="number" class="label-input">Phone Number</label>
                        <div class="form-input">
                            <span class="icon-input"><img src="../../static/img/cell-blue.svg" alt=""></span>
                            <input type="number" id="number" placeholder="123 456 7890" >
                        </div>
                        <label for="email" class="label-input">Date of Birth</label>
                        <div class="form-input">

                            <span class="icon-input"><img src="../../static/img/calender.svg" alt=""></span>
                            <input type="text" id="expiryDate" placeholder="DD/MM/YYYY" >
                            <i class='fas fa-angle-down'></i>
                        </div>
                        <label for="email" class="label-input">Email/Phone</label>
                        <div class="form-input">
                            <span class="icon-input"><img src="../../static/img/mail-blue.svg" alt=""></span>
                            <input type="email" id="email" placeholder="email@domain.com" >
                        </div>
                        <label for="text" class="label-input">Address</label>
                        <div class="form-input">
                            <span class="icon-input"><img src="../../static/img/location-blue.svg" alt=""></span>
                            <input type="text" id="text" placeholder="1901 Thornridge Cir. Shiloh, Hawaii 81063"
                                >
                        </div>
                        <div class="login-button mt-1">
                            <a href="../../index.html">
                                <button type="submit" class="btn-login">Create Profile</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const expiryDateInput = document.getElementById("expiryDate");

            expiryDateInput.addEventListener("input", function () {
                const inputValue = this.value;

                // Remove non-numeric characters
                const cleanedValue = inputValue.replace(/[^0-9]/g, '');

                // Format DD/MM/YY with slashes
                if (cleanedValue.length >= 4) {
                    let day = cleanedValue.slice(0, 2);
                    let month = cleanedValue.slice(2, 4);
                    let year = cleanedValue.slice(4, 6);

                    // Limit month to 12
                    if (parseInt(month) > 12) {
                        month = '12';
                        alert('Please enter a valid month (1-12).');
                    }

                    // Get the current year and check if entered year is in the valid range (00-99)
                    const currentYear = new Date().getFullYear() % 100;
                    if (parseInt(year) > currentYear) {
                        year = currentYear;
                        alert('Please enter a valid year (00-' + currentYear + ').');
                    }

                    this.value = `${day}/${month}/${year}`;
                } else if (cleanedValue.length >= 2) {
                    let day = cleanedValue.slice(0, 2);
                    let month = cleanedValue.slice(2, 4);
                    this.value = `${day}/${month}/`;
                } else {
                    this.value = cleanedValue;
                }
            });
        });

    </script>

</body>

</html>