<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card Rescue | Edit Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../../static/css/editprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-...." crossorigin="anonymous">
        <link rel="icon" href="../../static/img/logo.png" type="image/x-icon">


</head>

<body>
    <!-- Vertical Navbar -->



    <!-- Content -->
    <section class="main-section">
        <nav class="navbar navbar-vertical custom-sidebar">
            <div class="brand-logo">
                <img src="../../static/img/brand.png">
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">

                    <a class="nav-link" href="../../index.html"><span><img class="icons" src="../../static/img/home.svg"></i></span>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./lostcard.html"><span><img class="icons"
                                src="../../static/img/lostcard.svg"></i></span>Lost Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./foundcard.html"><span><img class="icons"
                                src="../../static/img/foundcard.svg"></i></span>Found
                        Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./mia-william-chat.html"><span><img class="icons"
                                src="../../static/img/chat.svg"></i></span>Chats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./return-card.html"><span><img src="../../static/img/returncard.svg"
                                class="icons"></i></span>Return Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./mycard-two.html"><span><img src="../../static/img/mycards.svg" class="icons"
                                alt=""></span>My Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./profile.html"><span><img src="../../static/img/myprofile.svg"
                                class="icons"></i></span>My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./feedback.html"><span><img src="../../static/img/feedback.svg"
                                class="icons"></i></span>Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./setting.html"><span><img src="../../static/img/setting.svg"
                                class="icons"></i></span>Setting</a>
                </li>
                <a class="btn-nav" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
            </ul>
            <!-- <button class="btn-nav">Logout</button> -->

        </nav>


        <div class="container">

            <div class="white-bg">
                <div class="container-custom">
                    <div class="header-sec">
                        <div class="head-container">
                            <div class="text-sec">
                                <h3 class="heading-hello">Edit Profile </h3>
                                <p class="head-para">Enter your personal information below</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-box text-center">
                        <!-- <div class="heading">
                            <h1>Create Profile</h1>
                        </div>
                        <div class="paragraph">
                            <p>Enter your personal information below</p>
                        </div> -->
                        <div class="profile-pic">
                            <div class="circle">
                                <img src="../../static/img/profile.png" alt="">

                            </div>
                            <div class="small-circle">
                                <i class="fas fa-camera"></i>
                            </div>
                        </div>

                        <form>
                            <label class="form-label" for="email">Full Name</label>
                            <div class="form-input">
                                <span><img src="../../static/img/blue-cont.svg" alt=""></span>
                                <input type="email" id="email" placeholder="Enter your name" required>
                            </div><label for="email">Phone Number</label>
                            <div class="form-input">
                                <span><img src="../../static/img/telephone.svg" alt=""></span>
                                <input type="email" id="email" placeholder="123 456 7890" required>
                            </div><label for="email">Phone Number</label>
                            
                            <div class="form-input">
                                <span><img src="../../static/img/blue-message.svg" alt=""></span>
                                <input type="email" id="email" placeholder="email@domain.com" required>
                            </div><label for="email">Address</label>
                            <div class="form-input">
                                <span><img src="../../static/img/loc-blue.svg" alt="" ></span>
                                <input type="email" id="email" placeholder="1901 Thornridge Cir. Shiloh, Hawaii 81063"
                                    required>
                            </div>
                            <div class="login-button mt-1">
                                <button type="submit" class="btn-login">Update Profile</button>
                                <div class="popup2" id="myPopup2">
                                    <div class="popup-content2">
                                        <img src="../../static/img/wrong-icon.svg" class="popup2-img" alt="">
                                        <p class="popup2-para">Sorry, no match was found</p>
                                        <button id="goBackBtn">Go Back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <script>
        document.querySelector(".btn-login").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default form submission behavior
            document.getElementById("myPopup2").style.display = "block";
        });

        document.getElementById("goBackBtn").addEventListener("click", function () {
            document.getElementById("myPopup2").style.display = "none";
        });

    </script>
</body>

</html>