<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card Rescue | New Found Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/css/lostcard"> -->
    <link rel="stylesheet" href="../../static/css/foundnewcard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-...." crossorigin="anonymous">
    <link rel="icon" href="../../static/img/logo.png" type="image/x-icon">


</head>

<body>
    <!-- Vertical Navbar -->

    <!-- Content -->
    <section class="main-section">
        <nav class="navbar navbar-vertical custom-sidebar">
            <div class="brand-logo">
                <img src="../../static/img/brand.png" class="logo-img">
            </div>
            <ul class="navbar-nav">
                <li class="nav-item pad-set">

                    <a class="nav-link" href="../../index.html"><span><img class="icons"
                                src="../../static/img/home.svg"></i></span>
                        Home</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./lostcard.html"><span><img class="icons"
                                src="../../static/img/lostcard.svg"></i></span>Lost Cards</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./foundcard.html"><span><img class="icons"
                                src="../../static/img/foundcard.svg"></i></span>Found
                        Cards</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./mia-william-chat.html"><span><img class="icons"
                                src="../../static/img/chat.svg"></i></span>Chats</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./return-card.html"><span><img src="../../static/img/returncard.svg"
                                class="icons"></i></span>Return Cards</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./mycard-two.html"><span><img class="icons"
                                src="../../static/img/mycards.svg" alt=""></span>My Cards</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./profile.html"><span><img src="../../static/img/myprofile.svg"
                                class="icons"></i></span>My Profile</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./feedback.html"><span><img src="../../static/img/feedback.svg"
                                class="icons"></i></span>Feedback</a>
                </li>
                <li class="nav-item pad-set">
                    <a class="nav-link" href="./setting.html"><span><img src="../../static/img/setting.svg"
                                class="icons"></i></span>Setting</a>
                </li>
                <!-- <a class="btn-nav" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a> -->
                <a class="btn-nav" href="./login.html"><i class="fa-solid fa-arrow-right-from-bracket"></i>LogIn</a>
                <!-- <a class="btn-nav" href="home/template/signup.html"><i class="fa-solid fa-arrow-right-from-bracket"></i>SignUp</a> -->
            </ul>
            <!-- <button class="btn-nav">Logout</button> -->

        </nav>


        <div class="container">
            <div class="white-bg">
                <div class="container-custom">
                    <div class="header-sec">

                        <div class="head-container">
                            <div class="text-sec">
                                <h3 class="heading-hello">Found Card</h3>
                                <p class="head-para">lorem ipsum, lorem ipsum, lorem ipsum,</p>
                            </div>
                        </div>
                        <div class="notification-badge">
                            <i class="fas fa-bell"></i> <!-- Font Awesome bell icon -->
                            <span class="badge">5</span> <!-- Notification count -->
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-7">
                            <form>
                                <label class="coustom-label" for="card-type">Card Type</label>
                                <div class="custom-select">
                                    <span><img src="../../static/img/mycards.svg" alt=""></span>
                                    <select id="card-type" name="card-type">
                                        <option value="credit-card">Credit Card</option>
                                        <option value="debit-card">Debit Card</option>
                                        <option value="prepaid-card">Prepaid Card</option>
                                    </select>
                                </div>
                                <label class="coustom-label" for="card-type">Issuer</label>
                                <div class="custom-select">
                                    <span><img src="../../static/img/bank-icon.svg" alt=""></span>
                                    <select id="card-type" name="card-type">
                                        <option value="credit-card">Bank Of America</option>
                                        <option value="debit-card">Debit Card</option>
                                        <option value="prepaid-card">Prepaid Card</option>
                                    </select>
                                </div>
                                <label class="coustom-label" for="password">Card Holder</label>

                                <div class="input-container">
                                    <img src="../../static/img/myprofile.svg" class="input-icon" alt="">
                                    <input type="password" id="password" name="Claire James" placeholder="Claire James">
                                </div>

                                <label class="coustom-label" for="age">Card Number</label>
                                <div class="input-container">
                                    <img src="../../static/img/mycards.svg" class="input-mycard" alt="">
                                    <input type="text" id="age" name="age" placeholder="****** ****** ****** 23456"><br>
                                </div>
                                <div class="input-group">
                                    <div class="input-fileds ">
                                        <label class="coustom-label" for="expiryDate">Expiry Date</label>
                                        <span>
                                            <img src="../../static/img/calender.svg" class="input-icon-date" alt="">
                                        </span>
                                        <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY">
                                    </div>
                                    <div class="width"></div>
                                    <div class="input-fileds">
                                        <label class="coustom-label" for="cvv">CVV</label>
                                        <span>
                                            <img src="../../static/img/calender.svg" class="input-icon-cvv" alt="">
                                        </span>
                                        <input type="text" id="cvv" name="cvv" placeholder="CVV">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
                <div class="multi-buttons">
                    <div class="buttons">
                        <button class="btn-main btn-active" id="openPopup" type="button">Submit</button>
                        <div class="overlay" id="popupOverlay"></div>
                        <a href="./foundcard.html">
                            <div class="overlay2" id="popupOverlay2"></div>
                        </a>
                        <div class="popup" id="popupModal">
                            <!-- <span class="popup-close" id="closePopup">&times;</span> -->
                            <div class="popup-content">
                                <!-- <img src="../../static/img/tickmark-icon.svg" class="popup-img" alt=""> -->
                                <h3 class="popup-heading">When will you destroy the card which is in your
                                    possession?</h3>
                                <div class="num-container2">
                                    <span class="input-icon2">
                                        <p class="pop-semi-heading">Number Of Days</p>
                                        <!-- You can replace the content below with your desired icon, e.g., an <i> element for FontAwesome icons -->
                                        <i><img src="../../static/img/calender.svg" class="pop" alt=""></i>
                                    </span>
                                    <input class="input-field" placeholder="30 Days">
                                </div>
                                <div class="pop_btn_set">
                                    <button class="pop_btn1 btn-active" id="cancelButton">Cancel</button>
                                    <button class="pop_btn2 btn-active" id="openPopup2" type="submit">Submit</button>
                                </div>

                                <a href="./foundcard.html">


                                    <div class="popup2" id="uniquePopup2">
                                        <div class="popup-content2">
                                            <div class="popup2-set">
                                                <img src="../../static/img/tickmark-icon.svg" class="popup-img2" alt="">
                                                <h3 class="popup-heading2">Card Add Successfully</h3>
                                                <p class="popup2-para">Please destroy the card after 1 month if no match
                                                    has
                                                    been found.</p>
                                                <button class="btn-popup2 btn-active" id="submitButton2">Done</button>
                                            </div>

                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- <a style="text-decoration: none; color: #0B105C;" href="./foundcard.html"></a> -->
                </div>
            </div>
        </div>
        <!-- <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Function to open the popup
                function openPopup() {
                    const popup = document.getElementById('popupModal');
                    const overlay = document.getElementById('popupOverlay');
                    popup.style.display = 'block';
                    overlay.style.display = 'block';

                    // Add a click event listener to the overlay to close the popup
                    overlay.addEventListener('click', closePopup);
                }

                // Function to close the popup and hide the overlay
                function closePopup() {
                    const popup = document.getElementById('popupModal');
                    const overlay = document.getElementById('popupOverlay');
                    popup.style.display = 'none';
                    overlay.style.display = 'none';

                    // Remove the click event listener from the overlay
                    overlay.removeEventListener('click', closePopup);
                }

                // Add click event listeners to the Open, Cancel, and Submit buttons
                const openButton = document.getElementById('openPopup');
                const cancelButton = document.getElementById('cancelButton');
                const submitButton = document.getElementById('submitButton');

                openButton.addEventListener('click', openPopup);
                cancelButton.addEventListener('click', closePopup);
                submitButton.addEventListener('click', closePopup);
            });
        </script> -->
        <!-- <script>
            // Get references to the popup elements
            const popupOverlay = document.getElementById('popupOverlay');
            const popupModal = document.getElementById('popupModal');
            const openPopupButton = document.getElementById('openPopup');
            const closePopupButton = document.getElementById('closePopup');

            // Function to open the popup
            function openPopup() {
                popupOverlay.style.display = 'block';
                popupModal.style.display = 'block';
            }

            // Function to close the popup
            function closePopup() {
                popupOverlay.style.display = 'none';
                popupModal.style.display = 'none';
            }

            // Event listeners for opening and closing the popup
            openPopupButton.addEventListener('click', openPopup);
            closePopupButton.addEventListener('click', closePopup);
            popupOverlay.addEventListener('click', closePopup);
        </script> -->


        <!-- <script>
            // Function to open the popup
            function openPopup() {
                const popup = document.getElementById('popupModal');
                const overlay = document.getElementById('popupOverlay');
                popup.style.display = 'block';
                overlay.style.display = 'block';

                // Add a click event listener to the overlay to close the popup
                overlay.addEventListener('click', closePopup);
            }

            // Function to close the popup and hide the overlay
            function closePopup() {
                const popup = document.getElementById('popupModal');
                const overlay = document.getElementById('popupOverlay');
                popup.style.display = 'none';
                overlay.style.display = 'none';

                // Remove the click event listener from the overlay
                overlay.removeEventListener('click', closePopup);

            }

            // Add click event listeners to the Open and Submit buttons
            const openButton = document.getElementById('openPopup');
            openButton.addEventListener('click', openPopup);

            submitButton.addEventListener('click', closePopup);
        </script> -->

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Function to open the popup
                function openPopup() {
                    const popup = document.getElementById('popupModal');
                    const overlay = document.getElementById('popupOverlay');
                    popup.style.display = 'block';
                    overlay.style.display = 'block';

                    // Add a click event listener to the overlay to close the popup
                    overlay.addEventListener('click', closePopup);
                }

                // Function to close the popup and hide the overlay
                function closePopup() {
                    const popup = document.getElementById('popupModal');
                    const overlay = document.getElementById('popupOverlay');
                    popup.style.display = 'none';
                    overlay.style.display = 'none';

                    // Remove the click event listener from the overlay
                    overlay.removeEventListener('click', closePopup);
                }

                // Add click event listeners to the Open, Cancel, and Submit buttons
                const openButton = document.getElementById('openPopup');
                const cancelButton = document.getElementById('cancelButton');
                const submitButton = document.getElementById('submitButton');

                openButton.addEventListener('click', openPopup);
                cancelButton.addEventListener('click', closePopup);
                submitButton.addEventListener('click', closePopup);
            });
        </script>


        <!-- popup2 -->

        <script>
            // Function to open the unique popup
            function openUniquePopup2() {
                const uniquePopup = document.getElementById('uniquePopup2');
                const overlay2 = document.getElementById('popupOverlay2');
                uniquePopup.style.display = 'block';
                overlay2.style.display = 'block';

                // Add a click event listener to the overlay to close the unique popup
                overlay2.addEventListener('click', closePopupIfClickedOutside);
            }

            // Function to close the unique popup and hide the overlay
            function closeUniquePopup2() {
                const uniquePopup = document.getElementById('uniquePopup2');
                const overlay2 = document.getElementById('popupOverlay2');
                uniquePopup.style.display = 'none';
                overlay2.style.display = 'none';

                // Remove the click event listener from the overlay
                overlay2.removeEventListener('click', closePopupIfClickedOutside);
            }

            // Function to close the popups if clicked outside of the container
            function closePopupIfClickedOutside(event) {
                const uniquePopup = document.getElementById('uniquePopup2');
                const overlay2 = document.getElementById('popupOverlay2');

                if (event.target === overlay2) {
                    closeUniquePopup2();
                }
            }

            // Add click event listener to the Submit button to open the unique popup
            const openButton2 = document.getElementById('openPopup2');
            openButton2.addEventListener('click', openUniquePopup2);

            // Add click event listener to the unique popup's "Done" button
            const submitButton2 = document.getElementById('submitButton2');
            submitButton2.addEventListener('click', closeUniquePopup2);
        </script>




</body>

</html>